.DS_Store
.ropeproject
.vscode

bin/git_ignore.d/

etc/.config/*

!etc/.config/git/
!etc/.config/kitty/
!etc/.config/sway/
!etc/.config/tmux/

!etc/.config/fish/
etc/.config/fish/completions/
etc/.config/fish/fish_variables

!etc/.config/gnupg/
etc/.config/gnupg/*
!etc/.config/gnupg/gpg.conf
!etc/.config/gnupg/gpg-agent.conf

!etc/.config/helix/
etc/.config/helix/runtime

!etc/.config/nvim/
etc/.config/nvim/lazy-lock.json
etc/.config/nvim/lua/.luarc.json
etc/.config/nvim/spell/*.spl

!etc/.config/zed/
etc/.config/zed/*
!etc/.config/zed/settings.json
