.DS_Store
.ropeproject
.vscode

etc/.config/*

!etc/.config/colourd/
!etc/.config/git/
!etc/.config/kitty/
!etc/.config/nvim/
!etc/.config/tmux/
etc/.config/nvim/lazy-lock.json
etc/.config/nvim/lua/.luarc.json

!etc/.config/fish/
etc/.config/fish/completions/
etc/.config/fish/fish_variables

!etc/.config/gnupg/
etc/.config/gnupg/*
!etc/.config/gnupg/gpg.conf
!etc/.config/gnupg/gpg-agent.conf

!etc/.config/helix/
etc/.config/helix/runtime
